# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

#run/ commented so the built mod is also pushed along with the source code

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
